html {
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}


/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Open+Sans&display=swap');

/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
}


header {
    width: 100%;
    height: 5rem;
    background-color: grey;
    margin-top: 0;
}

/* NAVIGATION */
nav {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 14rem;
    padding-left: 10px;
    cursor: pointer;
}

.bar-btn {
    font-size: 2.5rem;
    color: white;
    margin-right: 1rem;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 0rem;
    background: black;
    text-align: center;
    transition: all 700ms;
}

.nav-menu li {
    display: none;
    line-height: 3rem;
    margin: 5rem;
    transition: all 700ms;
}

.nav-menu li a {
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover {
    color: rgb(12, 61, 80);
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

#check:checked ~ .container {
    height: 100vh;
}

#check:checked ~ .bar-btn {
    z-index: 1;
}


/* FOOTER */

.footer {
    background-color: grey;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 15px;
    color: white;
    padding:10px;
    margin-top: 15px;
}

.footer a {
    text-decoration: none;
    color: white;
}

/* INDEX */

h2 {
    margin: 3rem 0;
    text-align: center;
    text-transform: uppercase;
}

.index-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 5rem auto 5rem;
    text-align: center;
    margin-top: 1rem;
}

.index-info h1 {
    font-size: 1.8rem;
    font-weight: 800;
    color: rgb(0, 0, 0, 0.7);
    text-transform: uppercase;

}

.basic-info {
    margin: 1rem;
    background-color: rgb(12, 61, 80);
    border-radius: 3rem;
    padding: 0.5rem;
}

.basic-info img {
    width: 100%;
    max-width: 35rem;
}

.basic-info p {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin-top: 3rem;
    padding: 0 3rem 0 3rem ;
    border-radius: 3rem;
    background-color: rgba(4, 7, 58);
}

.index-skills {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
    align-items: center;
    background-color: rgba(4, 7, 58);
    border-radius: 3rem;
}

.mini-card {
    width: 85%;
    height: 22rem;
    text-align: center;
    font-size: 3rem;
    background-color: rgb(12, 61, 80);
    border-style: solid;
    border-color: white;
    margin: 2rem 0;
    padding-top: 0.8rem;
    color: whitesmoke;
}

.mini-card img {
    width: 100%;
    margin-top: 1rem;
    max-width: 15rem;
}

/* ABOUT */
.about-container {
    display: flex;
    justify-content: center;
}

.about-info {
    background-color: rgb(223, 223, 223);
    display: flex;
    width: 100%;
    max-width: 300px;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    padding-left: 5px;
    border-width: 5px;
    border-color: grey;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    align-content: space-around;
    box-shadow: 3px 3px 3px black;
}


.title{
    padding-top: 15px;
    text-align: center;
     font-size: 1.8rem;
    font-weight: 800;
    color: rgb(0, 0, 0, 0.7);
    text-transform: uppercase;
}


.about-info h3 {
    padding-right: 50px;
    padding-left: 5px;
    margin-bottom: 15px;
}

.about-info img {
    width: 100%;
    max-width: 150px;
    align-self: flex-end;
}

.cards-container {
    display: flex;
    flex-direction: column;

}

.card {
    height: 60px;
    display: flex;
    flex-direction: row;
    margin: 0 15px 10px 15px;
    width: 90%;
    justify-content: space-between;
    align-content: space-around;
    border-color: rgb(90, 90, 90);
    border-style: solid;
    border-end-end-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgb(129, 129, 129);

}

.card p {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: black;
    text-shadow: black;
    font-weight: bold;
    padding-left: 50px;
}

.card img{
    max-width: 60px;
    padding-right: 10px;
}

.card:nth-child(2) img{
    max-width: 50px;
    padding-right: 20px;
}

/* CONTACT */

    .banner{
        background-image: url('/img/contact-bg.jpg');
        padding: 50px 15px 0 15px;
        align-items: center;
        background-size: cover;
        color: white;
        text-shadow: 3px 3px 3px black;
        text-align: center;
        height: 200px;
        width: 100%;
        margin-bottom: 20px;
    }

    .contact {
        padding: 0 15px;
        font-size: 15px;
    }

    label {
        font-weight: 900;
    }


    .contact input, .contact textarea {
        background-color: #e1e1e1;
        width: 100%;
        text-orientation: sideways;
        border-style: none;
        border-radius: 5px;
        padding: 10px 15px 10px 15px;
        margin: 10px 5px;
    }

    .contact textarea {
        margin-bottom: 0;
    }

    #send {
        color: white;
        background-color: rgb(66, 66, 66);
        width: 70px;
        text-align: center;
    }

    /* PROJECTS */

    .project-title{
        background-color: rgb(15, 61, 80);
        color: white;
        height: 50px;
        padding-top: 15px;
    }

    .project-card{
        border-style: solid;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        padding: 0px 10px 30px 10px;
        margin: 5px 15px;
        line-height: 2em;
        box-shadow: 5px 5px 5px rgb(15, 61, 80);
    }

    .project-card p{
        padding: 5px 15px 10px 15px;
        line-height: 1.5em;
        text-align: center;
        font-size: 16px;
    }

    .pc-title {
        padding-top: 3px;
        text-align: center;
        font-size: 19px;
        text-shadow: 0px 5px 15px rgb(15, 61, 80);
    }

    


/* RESPONSIVE FOR DESKTOP */

@media screen and (min-width: 760px){
    .container {
        max-width: 100%;
        margin: 0 auto 0 auto;
        padding: 0 2rem;
    }

    .logo {
        margin-left: 3rem;
        width: 100%;
        max-width: 25rem;
    }

    header  {
        height: 7rem;
    }
    nav {
        height: 7rem;     
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 10rem;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 3rem;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 10rem;
        margin: 0 1rem;
        transition: none;
    }

    .nav-menu li a {
        font-size: 1.2rem;
    }
    
    .nav-menu li a:hover {
        color: rgb(12, 61, 80);
        transition: 600ms;
    }


    /* INDEX */
    .index-info h1{
        font-size: 4rem;
    }

    .basic-info p {
        font-size: 3rem;
        margin: 3rem;
        line-height: 1.5;
    }

    .index-skills {
        flex-direction: row;
        justify-content: space-around;
        margin: 0 3rem;
        padding: auto auto;
        background-color: rgba(4, 7, 58);
        border-radius: 3rem;
    }

    .mini-card {
        width: 30rem;
        height: 30rem;
        text-align: center;
        align-items: center;
        align-content: space-between;
        font-size: 4rem;
        background-color: rgb(12, 61, 80);
        border-style: solid;
        border-color: white;
        margin: 2rem 0;
        padding-top: 4rem;
        color: whitesmoke;
    }
    
    .mini-card h4{
        margin-bottom: 2rem;
    }
    
    .mini-card img {
        align-items: flex-end;
        width: 80%;
        margin-top: 1rem;
        max-width: 15rem;
    }

    /* ABOUT */
    .about-info {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
        align-content: none;
        
    }

    .about-info h3{
        font-size: 20px;
        display: flex;
        align-items: center;
        max-width: 50%;
        line-height: 30px;
        text-shadow: 2px 2px 5px grey;
    }

    .about-info img {
        max-width: 250px;
        align-self: center;
    }
    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 50px;
    }

    .card {
        width: 200px;
        justify-content: space-around;
        padding: 0;
        height: 60px;
        border-radius: 5px;
    }

    .card:hover {
        background-color: rgb(12, 61, 80);
        transition: 600ms;
    }
    
    /* CONTACT*/

    .banner {
        height: 300px;
    }

    .banner h1{
        font-size: 40px;
        padding: 50px;
    }

    #send:hover {
        cursor: pointer;
        background-color: rgb(12, 61, 80);
        transition: 600ms;
    }

    .contact {
        padding: 50px 250px;
    }


    /* PROJECTS */

    .project-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        height: 100%;
    }

    .project-title {
        margin-top: 30%;
        padding-right: 50px;
        width: 100%;
        text-align: end;
    }

    .project-card {
        margin-left: 0px;
    }
}